.navbar {
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-text-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-logo {
  height: 50px;
}

.navbar-text {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.navbar-nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 250px;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  color: #333;
  transition: color 0.3s ease;
  margin: 10px;
}

.nav-link:hover {
  color: #007bff;
}

.dropdown {
  position: relative;
}

.dropbtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
  transition: color 0.3s ease;
  margin: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  padding: 8px 16px;
  color: #333;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
