/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

* {
  margin-top: 0%;
}
.App {
  text-align: center;
}
.all {
  margin-top: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.r {
  display: flex;
  flex-direction: row;
}
.b {
  margin-right: 20px;
  margin-top: 5px;
  border: 1px solid grey;
  padding: 4px;
  border-radius: 5px;
}
.user-icon {
  color: grey;
}
.login-details {
  text-align: left !important;
  padding-left: none !important;
}
.login-button {
  background-color: rgba(6, 99, 212, 0.934);
  color: white;
  text-align: center;
  font-size: 16px !important;
  margin: 20px;
  border: none;
  border-radius: 20px;
  margin-right: 20px;
}
p {
  font-size: 14px;
  padding: 10px;
}
.my {
  margin-right: 50%;
  color: black !important;
  font-weight: none !important;
}
.puja {
  margin-left: 2% !important;
}
.book {
  margin-left: 10% !important;
}
.bookk {
  margin-left: 11% !important;
}
.book-puja {
  padding-left: 90px;
}
.email {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
